<div class="card light">
  <div class="card-header" >
    {{pageTitle}}
  </div>
  <div class="card-body" *ngIf="transformers?.length" [formGroup]="searchForm">
    <label for="search">Find by transformer name...</label>
    <input id="search" formControlName="searchTerm"
           class="form-control"
           type="text"
           placeholder="Search By Name"
           (keyup) ="onChanges($event)"/>
    <label id="factions" >Filter by faction...</label>
    <select class="form-control" name="factions" formControlName = "factions" (change)="checkFaction($event)">
      <option *ngFor="let item of factions"  [value]="item.name" >{{ item.name }}</option>
    </select>
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let transformer of transformers | searchpipe:searchTerm | filterpipe:faction "
              [routerLink]="['/transformers', transformer.id]">
              {{ transformer.name}}
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" [routerLink]="['/transformers', transformers?.length]" (click)="newTransformer(transformers?.length)">
          Add
        </button>
      </div>
    </div>
  </div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

