<div class="card light">

  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body" *ngIf="transformers?.length">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let transformer of transformers"
              [routerLink]="['/transformers', transformer.id]">
              {{ transformer.name }}
              <!--(click)="editTransformer(transformer)">{{ transformer.name }}-->
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="newTransformer()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
