<div class="card light">
  <div class="card-header" >
    {{pageTitle}}
  </div>
  <div class="card-body" *ngIf="transformers?.length" [formGroup]="searchForm">
    <label for="search">Find by transformer name...</label>
    <input id="search" formControlName="searchTerm"
           class="form-control"
           type="text"
           placeholder="Search By Name"
           (keyup) ="onChanges($event)"/>
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let transformer of transformers | searchpipe:searchTerm"
              [routerLink]="['/transformers', transformer.id]">
              {{ transformer.name}}
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="newTransformer()">
          Add
        </button>
      </div>
    </div>
  </div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

