/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Faster+One');

li {
  font-size: large;
}

div.panel-heading {
  font-size: x-large;
}

body {
  margin-top: 50px;
}
