@import url('https://fonts.googleapis.com/css?family=Faster+One');

.light{
  font-family: 'Faster One', cursive !important;
  font-size: large;
  background-color: transparent;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
