<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveTransformer()" [formGroup]="transformerForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="transformerNameId">Transformer Name</label>

          <div class="col-md-9">
            <input
                   class="form-control"
                   id="transformerNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="name"
                    />
          </div>
        </div>

        <!--<div class="form-group row">
          <label class="col-md-3 col-form-label" for="transformerVehicleGroup">Vehicle Group</label>

          <div class="col-md-9">
            <input
                   class="form-control"
                   id="transformerVehicleGroup"
                   type="text"
                   placeholder="Vehicle group (required)"
                   formControlName="vehicleGroup"
                    />
          </div>
        </div>-->

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="vehicleTypeId">Vehicle Type</label>

          <div class="col-md-9">
            <input
                   class="form-control"
                   id="vehicleTypeId"
                   type="text"
                   placeholder="Vehicle Type"
                   formControlName="vehicleType" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="vehicleTypeId">Vehicle Model</label>

          <div class="col-md-9">
            <textarea
                      class="form-control"
                      id="vehicleModelId"
                      placeholder="Vehicle Model"
                      formControlName="vehicleModel">
            </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="transformerGear">Gear</label>
          <div class="col-md-9">
            <input
              class="form-control"
              id="transformerGear"
              type="text"
              formControlName="gear"
            />
          </div>

        <label>Vehicle Types Group</label>
          <select class="form-control" formControlName="vehicleTypes" name="vehicleTypesGroup">
            <option *ngFor="let item of vehicleTypes" (change)="changeByGroup($event)" [value]="item.group">{{ item.group}}</option>
          </select>
          <label>Vehicle Types Type</label>
          <select class="form-control" name="vehicleTypesType">
            <option *ngFor="let item of vehicleTypes" (change)="changeByType($event)" [value]="item.type">{{ item.type }}</option>
          </select>
          <label>Vehicle Types Model</label>
          <select class="form-control" formControlName="vehicleTypes" name="vehicleTypesModel">
            <option *ngFor="let item of vehicleTypes" [value]="item.model">{{ item.model }}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="transformerStatus">Transformer Status</label>

          <div class="col-md-9">
            <input
              class="form-control"
              id="transformerStatus"
              type="text"
              placeholder="transformer status(required)"
              formControlName="status"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]="!transformerForm.valid || !transformerForm.dirty">
                Save
              </button>
            </span>
            <span>
              <button class="btn btn-light" type="button" style="width:80px;margin-right:10px" (click)="cancelEdit()">
                Cancel
              </button>
            </span>
            <span>
              <button class='btn btn-outline-secondary' (click) = 'onBack()'><i class='fa fa-chevron-left'></i>
                Back
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

