<div class="card" *ngIf="transformer">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveTransformer()" [formGroup]="transformerForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="transformerNameId">Transformer Name</label>

          <div class="col-md-9">
            <input required
                   class="form-control"
                   id="transformerNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="transformerName"/>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
